---
import { Icon } from 'astro-icon/components'
import type { File } from '../../utils/fetchFileList.ts'

interface Props {
  files: File[]
}

const { files } = Astro.props
---

<ul class="ml-4 py-2">
  {
    files.map((file) => (
      <li class="px-2">
        <a
          class="group/file inline-flex mb-2 transition-all line-clamp-1 hover:hover:no-underline"
          href={file.html_url}
          target="_blank"
          title={file.name}
        >
          <Icon
            class="w-5 h-5 mr-2 shrink-0"
            name={
              file.type === 'dir'
                ? 'material-symbols:folder'
                : 'material-symbols:lab-profile-outline'
            }
          />
          <p class="basis-full break-all underline group-hover/file:no-underline leading-5">
            {file.name}
          </p>
        </a>
      </li>
    ))
  }
</ul>
