---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {
  class?: string
}

const { class: className, ...attrs } = Astro.props
---

<button
  {...attrs}
  class:list={[
    'cursor-pointer w-8 h-8 hover:bg-hover transition-all rounded-full',
    className,
  ]}
>
  <slot />
</button>
