---
import { siteConfig } from '../../config'
import { Icon } from 'astro-icon/components'
import IconButton from '../Buttons/IconButton.astro'
import Navigation from './Navigation/Navigation.astro'
import Logo from './Logo.astro'
---

<header class="fixed h-16 w-full backdrop-blur z-10">
  <div class="container-global h-full flex items-center">
    <Logo />
    <Navigation />
    <IconButton id="search" class="ml-4">
      <span class="sr-only">Search</span>
      <Icon
        class="block w-6 h-6 m-auto"
        name="material-symbols:search-rounded"
      />
    </IconButton>
    <IconButton id="theme" class="ml-4">
      <span class="sr-only">Toggle theme</span>
      <Icon
        class="group-[&[data-theme='dark']]:hidden block w-6 h-6 m-auto"
        name="theme-light"
      />
      <Icon
        class="group-[&[data-theme='light']]:hidden block w-6 h-6 m-auto"
        name="theme-dark"
      />
    </IconButton>
  </div>
</header>

<script is:inline>
  const searchButton = document.querySelector('#search')
  searchButton?.addEventListener('click', () => openSearch())

  document.documentElement.addEventListener('keydown', (event) => {
    if (
      event.key === '/' &&
      document.activeElement?.tagName.toLowerCase() !== 'input'
    ) {
      event.preventDefault()
      openSearch()
    }
  })

  function openSearch() {
    const searchDialog = document.querySelector('#search-dialog')
    searchDialog?.showModal()
  }

  const themeButton = document.querySelector('#theme')
  themeButton.addEventListener('click', () => {
    setTheme(getTheme() === 'light' ? 'dark' : 'light')
  })
</script>
