---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getDesc, getTitle } from "../utils";
---

<BaseLayout
  title={getTitle("Page not found")}
  description={getDesc("Page not found")}
>
  <main class="h-full w-full flex">
    <div class="m-auto text-3xl font-bold">Nothing to see here 🤔</div>
  </main>
</BaseLayout>
