---
import PageLayout from '../layouts/PageLayout.astro'
import getTitle from '../utils/getTitle'
---

<PageLayout title={getTitle('About')} description="About Ex-iT's Notes">
  <article class="article base-card article">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam animi,
      nam numquam perferendis dicta cumque neque consequatur sunt! Quos earum
      odit odio rem maxime voluptatum atque sint! Consectetur, nulla
      perferendis.
    </p>
  </article>
</PageLayout>
