---
import { Icon } from 'astro-icon/components'
import { siteConfig } from '../config'
const date = new Date()
---

<footer class="mt-auto bg-base transition-all h-16 shrink-0 py-2">
  <p
    class="container-global text-secondary text-sm text-right flex items-center justify-end h-full"
  >
    <a href="/" class="flex gap-2 items-center mr-2">
      <Icon
        class="w-4 h-4 text-highlight"
        name="material-symbols:exit-to-app-sharp"
      />
      {siteConfig.title}
    </a>
    &copy; {date.getFullYear()}
  </p>
</footer>
