---
import type { CollectionEntry } from 'astro:content'
import type { Page } from 'astro'
import { Icon } from 'astro-icon/components'

interface Props {
  page: Page<CollectionEntry<'notes'>>
  tag: CollectionEntry<'notes'>['data']['tag'] | undefined
}

const { page, tag = undefined } = Astro.props

function getHref(index: number) {
  if (tag === undefined) {
    return `/notes${index > 0 ? `/${index + 1}` : ''}`
  } else {
    return `/notes/${tag}${index > 0 ? `/${index + 1}` : ''}`
  }
}
---

<nav class="mt-4 w-fit ml-auto">
  <ul class="flex space-x-2">
    <li>
      <a
        href={page.url.prev}
        class:list={[
          page.url.prev ? 'hover:bg-hover cursor-pointer' : 'text-secondary',
          'block p-2 rounded-xl bg-base transition-all',
        ]}
      >
        <Icon class="w-8 h-8" name="material-symbols:chevron-left-rounded" />
      </a>
    </li>
    {
      [...Array(page.lastPage).keys()].map((index) => (
        <li class="flex rounded-xl bg-base transition-all font-bold">
          <a
            href={getHref(index)}
            class:list={[
              page.currentPage === index + 1
                ? 'bg-hover active:bg-active'
                : null,
              'flex items-center justify-center w-12 rounded-xl transition-all hover:bg-hover',
            ]}
          >
            {index + 1}
          </a>
        </li>
      ))
    }
    <li>
      <a
        href={page.url.next}
        class:list={[
          page.url.next ? 'hover:bg-hover cursor-pointer' : 'text-secondary',
          'block p-2 rounded-xl bg-base transition-all',
        ]}
      >
        <Icon class="w-8 h-8" name="material-symbols:chevron-right-rounded" />
      </a>
    </li>
  </ul>
</nav>
