---
import type { CollectionEntry } from 'astro:content'
import type { Page } from 'astro'
import MainLayout from '../../layouts/MainLayout.astro'
import getTitle from '../../utils/getTitle'
import Pagination from '../App/Pagination.astro'
import NotesList from './NotesList.astro'

interface Props {
  notes: CollectionEntry<'notes'>[]
  page: Page<CollectionEntry<'notes'>>
  category: CollectionEntry<'notes'>['data']['category']
}

const { notes, page, category } = Astro.props
---

<MainLayout title={getTitle('All Notes')} description="All Notes">
  <div class="grow">
    <NotesList {notes} />
    <Pagination page={page} {category} />
  </div>
</MainLayout>
