---
import { Image } from 'astro:assets'
import { siteConfig } from '../../config'
import avatarImage from '../../assets/avatar.png'
---

<Image
  src={avatarImage}
  alt={`Photo of ${siteConfig.author}`}
  width={224}
  height={224}
  class="mb-4 rounded-full dark:brightness-75"
/>
<h2 class="font-bold self-center text-xl">
  {siteConfig.author}
</h2>
<h3 class="italic text-secondary text-center">{siteConfig.tagLine}</h3>
