@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-ex-it: 0 218 49;
}

@layer base {
  html,
  body {
    @apply h-full;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply flex flex-col text-primary bg-back transition-all;
  }

  .light {
    --color-base: 255 255 255;
    --color-back: 245 245 245;
    --color-primary: 10 10 10;
    --color-secondary: 115 115 115;
    --color-hover: 229 229 229;
    --color-active: 212 212 212;
    --color-highlight: var(--color-ex-it);
  }

  .dark {
    --color-base: 38 38 38;
    --color-back: 23 23 23;
    --color-primary: 250 250 250;
    --color-secondary: 115 115 115;
    --color-hover: 82 82 82;
    --color-active: 64 64 64;
    --color-highlight: var(--color-ex-it);
  }
}

@layer base {
  a:hover {
    @apply hover:text-secondary transition-all;
  }

  h1::first-letter,
  h2::first-letter,
  h3::first-letter,
  .highlight-first-letter::first-letter {
    @apply text-highlight;
  }
}

@layer components {
}

@layer utilities {
  /* @TODO: Extract these to components where possible */
  .container-global {
    @apply mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl;
  }

  .base-card {
    @apply bg-base transition-all rounded-xl p-4;
  }

  .article {
    @apply prose prose-neutral dark:prose-invert max-w-none
        prose-img:rounded-xl prose-img:max-h-screen prose-pre:break-words prose-pre:whitespace-pre-wrap
        prose-h2:scroll-my-20 prose-h3:scroll-my-20;
  }

  .blur-global {
    @apply backdrop-blur-lg backdrop-saturate-150;
  }

  .card {
    @apply bg-base rounded-xl hover:ring ring-primary transition-all;
  }

  .badge {
    @apply bg-back rounded-xl transition-all px-2 py-1 flex items-center font-bold;
  }
}

/* Add language label to code blocks */
pre.astro-code[data-language] {
  @apply relative;
}

pre.astro-code[data-language]::after {
  @apply rounded bg-back/30 text-sm top-1 right-1 absolute py-1 px-2 transition-all;
  content: attr(data-language);
}

pre.astro-code[data-language]:hover::after {
  @apply opacity-0 transition-all;
}
